@import url("https://fonts.google.com/specimen/Poppins");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(230, 106, 127);
    font-family: "Poppins", sans-serif;
    background-image: url(images/desktop.png);
    user-select: none;
}

small {
    position: absolute;
    color: rgba(252, 54, 54, 0.781);
    right: -20%;
    padding-top: 5px;
    font-size: 10px;
    font-style: italic;
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.leftside {
    width: 100%;
    /* /* position: relative; */
    margin-top: 150px;
    /* left: 27%; */
    margin-left: 150px;
    color: white;
}

.leftside h1 {
    width: 70%;
    font-size: 50px;
    font-weight: 920;
}

.leftside p {
    font-weight: 700;
    padding-top: 20px;
    width: 80%;
    line-height: 25px;
}

.rightside {
    margin: auto;
    margin-top: 70px;
    width: 350px;
    margin-right: 200px;
    height: 500px;
}

.wrapper {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    height: 450px;
    width: 500px;
    margin-left: -75px;
    /* position: relative; */
    /* top: 30px; */
    box-shadow: 0px 5px 2px 1px rgba(163, 86, 99, 0.945);
}

.wrapper input {
    margin: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    margin-top: 35px;
    border: 1px solid rgb(223, 216, 216);
    width: 95%;
    border-radius: 5px;
}

.wrapper input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

.wrapper input:focus {
    outline: none;
    border: 1px solid rgb(255, 0, 0);
}

input.form-button {
    margin: auto;
    position: relative;
    top: 50px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    border: none;
    width: 101%;
    margin-right: 20px;
    box-shadow: 0px 2px 2px 1px rgba(163, 155, 155, 0.781);
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: uppercase;
}

input.form-button:active {
    transform: scale(0.98);
}

.undertext {
    margin-left: -15px;
    width: 110%;
    margin-top: 60px;
    font-size: 13px;
    text-align: center;
    color: rgba(0, 0, 0, 0.514);
    font-size: 400;
}

.link {
    text-decoration: none;
    color: red;
}

.formheader {
    background-color: hsl(248, 32%, 49%);
    width: 509px;
    text-align: center;
    padding: 1em;
    /* margin: auto; */
    color: white;
    margin-left: -75px;
    /* position: relative; */
    /* top: 50px; */
    border-radius: 8px;
    /* position: relative;
    top: 50px; */
    margin-bottom: 25px;
    box-shadow: 0px 5px 2px 1px rgba(163, 86, 99, 0.945);
}

.flexwrapper {
    align-items: center;
}

img {
    position: absolute;
    /* top: 287px; */
    left: 780px;
    height: 15px;
    width: 15px;
}

img.error-icon1 {
    position: absolute;
    visibility: hidden;
    top: 287px;
}

img.error-icon2 {
    position: absolute;
    visibility: hidden;
    top: 362px;
}

img.error-icon3 {
    position: absolute;
    top: 437px;
    visibility: hidden;
}

img.error-icon4 {
    position: absolute;
    visibility: hidden;
    top: 512px;
}

/* @media screen and (max-width: 24px) {
    .leftside {
        margin-left: -300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .leftside h1 {
        margin-left: 51px;
        width: 80%;
    }

}

@media screen and (max-width: 320px) {
    body {
        background-image: url(images/mobile.png);
    }

    .flexcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flexwrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-right: 100px;
        margin-bottom: 100px;
    }

    .rightside {
        width: 50%;
        margin: auto;
    }

    .formheader {
        width: 142%;
        margin-right: 10px;
    }

    .leftside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: -170px;
    }

    .leftside p {
        width: 100%;
        margin-left: -57px;
        text-align: center;

    }

    .leftside h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-left: -40px;
        font-weight: 700;
    }

    .formheader {
        width: 220px;
    }

    .formheader p {
        width: 100%;
    }

    button {
        width: 220px;
    }

} */